.card-header {
    font-size: 1.2rem;
    font-weight: bold;
}

label {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0rem;
    // text-transform: uppercase;
}

label span {
    font-weight: lighter;
    font-style: italic;
}